@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	background-color: black;
  }

#hero {
	width: 100%;
	height: 100px;
}
  
.hero-banner {
	width: 100%;
	height: 100%;
	background-color: #8460e7;
	display: flex;
	align-items: center;
}
  
.hero-banner h1 {
	font-size: 3rem;
	margin: 0;
	padding: 20px;
	color: white;
}
  
.hero-banner nav {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}
  
.hero-banner nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	padding: 10px 20px;
}
  
.hero-banner nav ul li {
	margin: 0 50px;
	width: 200px;
	padding: 10px 20px;
}
  
.hero-banner nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	padding: 10px 20px;
}

.hero-banner nav ul li a:hover {
	background-color: #542cc7;
	color: white;
	padding: 10px 20px;
}

#home {
	width: 100%;
	height: calc(100vh - 125px);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
}

.home-container {
	width: 80%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.home-text {
	width: 50%;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 20px;
}

.home-text h2 {
	color: white;
	font-size: 4.5rem;
}

.home-text h2 span {
	color: #8460e7;
}

.home-text p {
	color: white;
	font-size: 2rem;
}

.home-text .cta {
	max-width: 40%;
	display: inline-block;
	padding: 20px 40px;
	color: white;
	background-color: transparent;
	border: 3px solid #8460e7;
	border-radius: 40px;
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 10%;
	text-align: center;
	transition: .3 ease; 
	transition-property: background-color, color;
}
.home-text .cta:hover {
	color: white;
	background-color: #8460e7;
}

.coin-section {
	width: 100%;
	left: 0;
	display: flex;
}

.coin-list {
	position: absolute;
	display: flex;
	bottom: 5%;
}

.coin {
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin: 0 15px;
	color: #8460e7;
	border: 1px solid #8460e7;
	padding: 20px;
	border-radius: 8px;
}

.coin img {
	width: 60px;
	margin-right: 10px;
}

.coin h3 {
	color: white;
	margin-bottom: 5px;
}

.background-image {
	width: 50%;
}

.background-image img {
	max-width: 100%;
	height: auto;
	z-index: 1;
	margin-left: 80px;
}

#market {
	width: 100%;
	display: flex;
	justify-content: center;
}

.market-container {
	width: 80%;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.market-text {
	color: white;
	padding: 20px;
	text-align: center;
}

.market-text h2 {
	font-size: 3rem;
}

.market-text h2 span {
	color:#8460e7;
}

.market-list {
	width: 80%;
	height: 530px;
}

#choose-us {
	width: 100%;
	display: flex;
	justify-content: center;
}

.choose-container {
	width: 80%;
	height: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.choose-text {
	max-width: 90%;
	color: white;
	padding: 20px;
	text-align: left;
}

.choose-text h2 {
	font-size: 3rem;
	display: flex;
	justify-content: center;
}

.choose-text h2 span {
	margin-left: 1%;
	color: #8460e7;
}

.choose-text p {
	font-size: 2rem;
	line-height: 3rem;
	margin-top: 8%;
}

#join {
	width: 100%;
	display: flex;
	justify-content: center;
}

.join-container {
	width: 80%;
	height: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.join-text {
	max-width: 90%;
	color: white;
	padding: 20px;
	text-align: left;
}

.join-text h2 {
	text-align: center;
	font-size: 3rem;
}

.join-text h2 span {
	color: #8460e7;
}

.join-text p {
	font-size: 2rem;
}

#footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-container {
	width: 100%;
	height: auto;
	padding: 40px;
}

.footer-media {
	width: auto;
	display: flex;
	justify-content: space-between;
	transform: translateY(15%);
}

.footer-media img {
	width: 25%;
	height: auto;
}